<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.domin.alias_learnbyplaying">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity1_Main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity2_Instructions"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.domin.alias_learnbyplaying.Activity2_Instructions" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity4_Options"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.domin.alias_learnbyplaying.Activity4_Options" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity5_Corpus"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.domin.alias_learnbyplaying.Activity5_Corpus" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity6_Teams"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.domin.alias_learnbyplaying.Activity6_Teams" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity7_Play"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.domin.alias_learnbyplaying.Activity7_Play" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity3_About"
            android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="com.example.domin.alias_learnbyplaying.Activity3_About" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>
    </application>

</manifest>